language: php
php:
  - 5.3
  - 5.4
  - 5.5
before_script:
- phpenv rehash
- curl -o yaml-1.1.0.tgz http://pecl.php.net/get/yaml-1.1.0.tgz
- tar -xzf yaml-1.1.0.tgz
- sh -c "cd yaml-1.1.0 && phpize && ./configure > /dev/null && make > /dev/null && sudo make install && cd .."
- rm -rf yaml-1.1.0 yaml-1.1.0.tgz
- echo "extension=yaml.so" >> `php --ini | grep "Loaded Configuration" | sed -e "s|.*:\s*||"`
- composer self-update
- composer require satooshi/php-coveralls:dev-master --no-update --dev
- composer install
script:
  - phpunit -c phpunit.xml.dist
#  notifications:
#    webhooks:
#      - http://wireroom.extremedev.org/=/travis-ci/Hall
after_success:
  - php vendor/bin/coveralls -v
cache:
  apt: true
  directories:
  - vendor
  - composer.lock
